In [2]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
font_path = r'C:\Windows\Fonts\HMFMMUEX.TTC'
font_name = fm.FontProperties(fname=font_path).get_name()
plt.rc('font', family=font_name)
plt.rcParams['axes.unicode_minus'] = False

### 코드정보

In [18]:
codea = pd.read_csv('data/tc_codea_코드A.csv')
codeb = pd.read_csv('data/tc_codeb_코드B.csv')

#### VISIT_AREA_TYPE_CD

- 방문지유형코드
- 코드명 : VIS

In [20]:
codea[codea['cd_a'] == 'VIS']

,idx,cd_a,cd_nm,cd_memo,cd_memo2,del_flag,order_num,perm_write,perm_edit,perm_delete,ins_dt,edit_dt
1,6,VIS,방문지유형코드,NaN,NaN,N,999,N,N,N,2022-07-05 10:45:53,NaN

In [27]:
vis_code = codeb[codeb['cd_a'] == 'VIS']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [28]:
vis_code

   cd_a  cd_b                            cd_nm
0   VIS     1                            자연관광지
1   VIS     2  역사/유적/종교 시설(문화재, 박물관, 촬영지, 절 등)
2   VIS     3           문화 시설(공연장, 영화관, 전시관 등)
3   VIS     4               상업지구(거리, 시장, 쇼핑시설)
4   VIS     5       레저/스포츠 관련 시설(스키, 카트, 수상레저)
5   VIS     6                 테마시설(놀이공원, 워터파크)
6   VIS     7                       산책로, 둘레길 등
7   VIS     8                         지역 축제/행사
8   VIS     9                 역, 터미널, 고속도로 휴게소
9   VIS    10                               상점
10  VIS    11                            식당/카페
11  VIS    12                               기타
12  VIS    13                        체험 활동 관광지
13  VIS    21                                집
14  VIS    22                           친구/친지집
15  VIS    23                              사무실
16  VIS    24                               숙소

#### VISIT_CHC_REASON_CD

- 방문선택이유코드
- 코드명 : REN

#### LODGING_TYPE_CD

- 숙소유형코드
- 코드명 : HTY

#### DGSTFN

- 만족도
- 코드명 : DGS

#### REVISIT_INTENTION

- 재방문의향
- 코드명 : REP

#### RCMDTN_INTENTION

- 추천의향
- 코드명 : REC

#### SGG_CD

- 시군구코드
- 파일명 : tc_sgg