In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
font_path = r'C:\Windows\Fonts\HMFMMUEX.TTC'
font_name = fm.FontProperties(fname=font_path).get_name()
plt.rc('font', family=font_name)
plt.rcParams['axes.unicode_minus'] = False

### 코드정보

In [2]:
codea = pd.read_csv('data/tc_codea_코드A.csv')
codeb = pd.read_csv('data/tc_codeb_코드B.csv')

#### VISIT_AREA_TYPE_CD

- 방문지유형코드
- 코드명 : VIS

In [20]:
codea[codea['cd_a'] == 'VIS']

,idx,cd_a,cd_nm,cd_memo,cd_memo2,del_flag,order_num,perm_write,perm_edit,perm_delete,ins_dt,edit_dt
1,6,VIS,방문지유형코드,NaN,NaN,N,999,N,N,N,2022-07-05 10:45:53,NaN

In [27]:
vis_code = codeb[codeb['cd_a'] == 'VIS']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [28]:
vis_code

   cd_a  cd_b                            cd_nm
0   VIS     1                            자연관광지
1   VIS     2  역사/유적/종교 시설(문화재, 박물관, 촬영지, 절 등)
2   VIS     3           문화 시설(공연장, 영화관, 전시관 등)
3   VIS     4               상업지구(거리, 시장, 쇼핑시설)
4   VIS     5       레저/스포츠 관련 시설(스키, 카트, 수상레저)
5   VIS     6                 테마시설(놀이공원, 워터파크)
6   VIS     7                       산책로, 둘레길 등
7   VIS     8                         지역 축제/행사
8   VIS     9                 역, 터미널, 고속도로 휴게소
9   VIS    10                               상점
10  VIS    11                            식당/카페
11  VIS    12                               기타
12  VIS    13                        체험 활동 관광지
13  VIS    21                                집
14  VIS    22                           친구/친지집
15  VIS    23                              사무실
16  VIS    24                               숙소

#### VISIT_CHC_REASON_CD

- 방문선택이유코드
- 코드명 : REN

In [3]:
vis_code = codeb[codeb['cd_a'] == 'REN']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [4]:
vis_code

   cd_a  cd_b                      cd_nm
0   REN     1               지명도/명소/핫플레이스
1   REN     2    온라인(SNS, 블로그 등) 평가가 좋아서
2   REN     3  미디어(TV 정보 프로그램 등) 평가가 좋아서
3   REN     4                 과거 경험이 좋아서
4   REN     5                지인의 추천이 있어서
5   REN     6             가기 편해서/교통이 좋아서
6   REN     7              편의시설/서비스가 좋아서
7   REN     8                   가성비가 좋아서
8   REN     9                   지나가다 우연히
9   REN    10                   교육성이 좋아서
10  REN    11                         기타

#### LODGING_TYPE_CD

- 숙소유형코드
- 코드명 : HTY

In [5]:
vis_code = codeb[codeb['cd_a'] == 'HTY']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [6]:
vis_code

   cd_a  cd_b        cd_nm
0   HTY     1           호텔
1   HTY     2        모텔/여관
2   HTY     3           펜션
3   HTY     4    콘도미니엄/리조트
4   HTY     5  야영(캠핑,글램핑등)
5   HTY     6      전통 숙박시설
6   HTY     7       게스트하우스
7   HTY     8           민박
8   HTY     9    자연휴양림내 시설
9   HTY    10       가족/친지집
10  HTY    11           기타
11  HTY    12        무박 여행

#### DGSTFN

- 만족도
- 코드명 : DGS

In [7]:
vis_code = codeb[codeb['cd_a'] == 'DGS']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [8]:
vis_code

  cd_a  cd_b   cd_nm
0  DGS     1  매우 불만족
1  DGS     2     불만족
2  DGS     3      보통
3  DGS     4      만족
4  DGS     5    매우만족

#### REVISIT_INTENTION

- 재방문의향
- 코드명 : REP

In [9]:
vis_code = codeb[codeb['cd_a'] == 'REP']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [10]:
vis_code

  cd_a  cd_b      cd_nm
0  REP     1  전혀 그렇지 않다
1  REP     2     그렇지 않다
2  REP     3         보통
3  REP     4        그렇다
4  REP     5     매우 그렇다

#### RCMDTN_INTENTION

- 추천의향
- 코드명 : REC

In [11]:
vis_code = codeb[codeb['cd_a'] == 'REC']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [12]:
vis_code

  cd_a  cd_b      cd_nm
0  REC     1  전혀 그렇지 않다
1  REC     2     그렇지 않다
2  REC     3         보통
3  REC     4        그렇다
4  REC     5     매우 그렇다

#### SGG_CD

- 시군구코드
- 파일명 : tc_sgg

In [13]:
tc_sgg = pd.read_csv('data/tc_sgg_시군구코드.csv')
tc_sgg

,SGG_CD,SGG_CD1,SGG_CD2,SGG_CD3,SGG_CD4,SIDO_NM,SGG_NM,DONG_NM,RI_NM
0,1100000000,11,NaN,NaN,NaN,서울특별시,NaN,NaN,NaN
1,1111000000,11,110.0,NaN,NaN,서울특별시,종로구,NaN,NaN
2,1111010100,11,110.0,101.0,0.0,서울특별시,종로구,청운동,NaN
3,1111010200,11,110.0,102.0,0.0,서울특별시,종로구,신교동,NaN
4,1111010300,11,110.0,103.0,0.0,서울특별시,종로구,궁정동,NaN
...,...,...,...,...,...,...,...,...,...
8070,5013025929,50,130.0,259.0,29.0,제주특별자치도,서귀포시,성산읍,신풍리
8071,5013025930,50,130.0,259.0,30.0,제주특별자치도,서귀포시,성산읍,신천리
8072,5013025931,50,130.0,259.0,31.0,제주특별자치도,서귀포시,성산읍,난산리
8073,5013031000,50,130.0,310.0,0.0,제주특별자치도,서귀포시,안덕면,NaN
8074,5013032000,50,130.0,320.0,0.0,제주특별자치도,서귀포시,표선면,NaN