In [12]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [13]:
df = pd.read_csv("./data/training/final/travel_insight.csv")
df

,TRAVEL_ID,TRAVEL_PURPOSE,TRAVEL_START_YMD,TRAVEL_END_YMD,MVMN_NM,TRAVEL_MISSION_CHECK,activity_payment_sum,activity_payment_count,activity_store_count,activity_history_rows,...,TRAVEL_MISSION_CHECK_CD_12,TRAVEL_MISSION_CHECK_CD_13,TRAVEL_MISSION_CHECK_CD_21,TRAVEL_MISSION_CHECK_CD_22,TRAVEL_MISSION_CHECK_CD_23,TRAVEL_MISSION_CHECK_CD_24,TRAVEL_MISSION_CHECK_CD_25,TRAVEL_MISSION_CHECK_CD_26,TRAVEL_MISSION_CHECK_CD_27,TRAVEL_MISSION_CHECK_CD_28
0,a_a014262,1;11;2;22;,2022-10-29,2022-10-30,자가용,2;1;22,183249,6,6,5,...,0,0,0,1,0,0,0,0,0,0
1,a_a006728,21;24;5;22;26;27;,2022-10-10,2022-10-11,자가용,6;1;22,68600,3,3,10,...,0,0,0,1,0,0,0,0,0,0
2,a_a015745,1;2;6;,2022-10-31,2022-11-03,대중교통 등,13;3;28,57100,7,6,22,...,0,1,0,0,0,0,0,0,0,1
3,a_a010544,21;22;24;26;,2022-11-01,2022-11-02,자가용,1;22;26,89700,5,4,10,...,0,0,0,1,0,0,0,1,0,0
4,a_a012058,1;4;10;12;21;22;26;,2022-11-05,2022-11-06,대중교통 등,1;21;22,155520,4,4,8,...,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5098,g_g003294,12;23;26;3;9,2023-07-08,2023-07-10,자가용,12;3;23,143900,8,7,10,...,1,0,0,0,1,0,0,0,0,0
5099,g_g005600,4;9,2023-08-23,2023-08-24,정보없음,6;11;22,2000,1,1,2,...,0,0,0,1,0,0,0,0,0,0
5100,g_g007343,1,2023-08-19,2023-08-20,정보없음,1;22;26,22900,2,2,3,...,0,0,0,1,0,0,0,1,0,0
5101,g_g010556,22,2023-09-02,2023-09-03,자가용,22;5;26,109500,5,4,9,...,0,0,0,1,0,0,0,1,0,0
5102,h_h003275,10;2;24;5;6,2023-08-27,2023-08-28,정보없음,2;11;6,46000,4,4,9,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# TRAVEL_STATUS_ACCOMPANY → Label Encoding
# _CODE 를 붙여서 추가 컬럼 생성
tsa = LabelEncoder()
df["TRAVEL_STATUS_ACCOMPANY_CODE"] = tsa.fit_transform(df["TRAVEL_STATUS_ACCOMPANY"])

# df["TRAVEL_STATUS_ACCOMPANY_CODE"]
print(df[["TRAVEL_STATUS_ACCOMPANY", "TRAVEL_STATUS_ACCOMPANY_CODE"]].head())

  TRAVEL_STATUS_ACCOMPANY  TRAVEL_STATUS_ACCOMPANY_CODE
0                자녀 동반 여행                             7
1                자녀 동반 여행                             7
2                  나홀로 여행                             5
3                  나홀로 여행                             5
4             2인 여행(가족 외)                             1

In [18]:
# TRAVEL_MISSIONCHECK → One-Hot Encoding
# 너는(?) TRAVEL_MISSION_CHECK_(숫자) 로 컬럼 생성
tmc = pd.get_dummies(df["TRAVEL_MISSIONCHECK"], prefix="TRAVEL_MISSION_CHECK")
df = pd.concat([df, tmc], axis=1)

print(df.filter(like="TRAVEL_MISSION_CHECK").head())

KeyError: 'TRAVEL_MISSIONCHECK'

In [17]:
# MVMN_NM → Label Encoding
# _CODE 를 붙여서 추가 컬럼 생성
mnm = LabelEncoder()
df["MVMN_NM_CODE"] = mnm.fit_transform(df["MVMN_NM"])

print(df[["MVMN_NM", "MVMN_NM_CODE"]].head())

  MVMN_NM  MVMN_NM_CODE
0     자가용             1
1     자가용             1
2  대중교통 등             0
3     자가용             1
4  대중교통 등             0

In [ ]:
# TRAVEL_START_YMD, TRAVEL_END_YMD → 연 / 월 분리
# TRAVEL_START_YEAR, TRAVEL_START_MONTH 로 컬럼 생성
# to_datetime으로 분할 가능
df["TRAVEL_START_YMD"] = pd.to_datetime(df["TRAVEL_START_YMD"])
df["TRAVEL_END_YMD"] = pd.to_datetime(df["TRAVEL_END_YMD"])

df["TRAVEL_START_YMD"] = pd.to_datetime(df["TRAVEL_START_YMD"])
df["TRAVEL_END_YMD"] = pd.to_datetime(df["TRAVEL_END_YMD"])

df["TRAVEL_START_YEAR"] = df["TRAVEL_START_YMD"].dt.year
df["TRAVEL_START_MONTH"] = df["TRAVEL_START_YMD"].dt.month
df["TRAVEL_END_YEAR"] = df["TRAVEL_END_YMD"].dt.year
df["TRAVEL_END_MONTH"] = df["TRAVEL_END_YMD"].dt.month

print(df[["TRAVEL_START_YMD", "TRAVEL_START_YEAR", "TRAVEL_START_MONTH"]].head())
print(df[["TRAVEL_END_YMD", "TRAVEL_END_YEAR", "TRAVEL_END_MONTH"]].head())

  TRAVEL_START_YMD  TRAVEL_START_YEAR  TRAVEL_START_MONTH
0       2022-10-29               2022                  10
1       2022-10-10               2022                  10
2       2022-10-31               2022                  10
3       2022-11-01               2022                  11
4       2022-11-05               2022                  11
  TRAVEL_END_YMD  TRAVEL_END_YEAR  TRAVEL_END_MONTH
0     2022-10-30             2022                10
1     2022-10-11             2022                10
2     2022-11-03             2022                11
3     2022-11-02             2022                11
4     2022-11-06             2022                11