## 목차

1. [방문지 코드 정보](#visit-codeb-info)
2. [방문지 데이터 확인](#visit-area-info)
3. [데이터 정제 및 가공](#data-cleansing)
4. [코드 통합](#data-cleansing-total-code)

<br/>

---

## VISIT CODEB INFO

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
codea = pd.read_csv('../../data/training/TL_csv/tc_codea_코드A.csv')
codeb = pd.read_csv('../../data/training/TL_csv/tc_codeb_코드B.csv')

#### VISIT_AREA_TYPE_CD

- 방문지유형코드
- 코드명 : VIS

In [ ]:
codea[codea['cd_a'] == 'VIS']

,idx,cd_a,cd_nm,cd_memo,cd_memo2,del_flag,order_num,perm_write,perm_edit,perm_delete,ins_dt,edit_dt
1,6,VIS,방문지유형코드,NaN,NaN,N,999,N,N,N,2022-07-05 10:45:53,NaN

In [ ]:
vis_code = codeb[codeb['cd_a'] == 'VIS']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [ ]:
vis_code

   cd_a  cd_b                            cd_nm
0   VIS     1                            자연관광지
1   VIS     2  역사/유적/종교 시설(문화재, 박물관, 촬영지, 절 등)
2   VIS     3           문화 시설(공연장, 영화관, 전시관 등)
3   VIS     4               상업지구(거리, 시장, 쇼핑시설)
4   VIS     5       레저/스포츠 관련 시설(스키, 카트, 수상레저)
5   VIS     6                 테마시설(놀이공원, 워터파크)
6   VIS     7                       산책로, 둘레길 등
7   VIS     8                         지역 축제/행사
8   VIS     9                 역, 터미널, 고속도로 휴게소
9   VIS    10                               상점
10  VIS    11                            식당/카페
11  VIS    12                               기타
12  VIS    13                        체험 활동 관광지
13  VIS    21                                집
14  VIS    22                           친구/친지집
15  VIS    23                              사무실
16  VIS    24                               숙소

#### VISIT_CHC_REASON_CD

- 방문선택이유코드
- 코드명 : REN

In [ ]:
vis_code = codeb[codeb['cd_a'] == 'REN']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [ ]:
vis_code

   cd_a  cd_b                      cd_nm
0   REN     1               지명도/명소/핫플레이스
1   REN     2    온라인(SNS, 블로그 등) 평가가 좋아서
2   REN     3  미디어(TV 정보 프로그램 등) 평가가 좋아서
3   REN     4                 과거 경험이 좋아서
4   REN     5                지인의 추천이 있어서
5   REN     6             가기 편해서/교통이 좋아서
6   REN     7              편의시설/서비스가 좋아서
7   REN     8                   가성비가 좋아서
8   REN     9                   지나가다 우연히
9   REN    10                   교육성이 좋아서
10  REN    11                         기타

#### LODGING_TYPE_CD

- 숙소유형코드
- 코드명 : HTY

In [ ]:
vis_code = codeb[codeb['cd_a'] == 'HTY']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [ ]:
vis_code

   cd_a  cd_b        cd_nm
0   HTY     1           호텔
1   HTY     2        모텔/여관
2   HTY     3           펜션
3   HTY     4    콘도미니엄/리조트
4   HTY     5  야영(캠핑,글램핑등)
5   HTY     6      전통 숙박시설
6   HTY     7       게스트하우스
7   HTY     8           민박
8   HTY     9    자연휴양림내 시설
9   HTY    10       가족/친지집
10  HTY    11           기타
11  HTY    12        무박 여행

#### DGSTFN

- 만족도
- 코드명 : DGS

In [ ]:
vis_code = codeb[codeb['cd_a'] == 'DGS']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [ ]:
vis_code

  cd_a  cd_b   cd_nm
0  DGS     1  매우 불만족
1  DGS     2     불만족
2  DGS     3      보통
3  DGS     4      만족
4  DGS     5    매우만족

#### REVISIT_INTENTION

- 재방문의향
- 코드명 : REP

In [ ]:
vis_code = codeb[codeb['cd_a'] == 'REP']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [ ]:
vis_code

  cd_a  cd_b      cd_nm
0  REP     1  전혀 그렇지 않다
1  REP     2     그렇지 않다
2  REP     3         보통
3  REP     4        그렇다
4  REP     5     매우 그렇다

#### RCMDTN_INTENTION

- 추천의향
- 코드명 : REC

In [ ]:
vis_code = codeb[codeb['cd_a'] == 'REC']
vis_code = vis_code[['cd_a','cd_b','cd_nm']]
vis_code['cd_b'] = vis_code.cd_b.astype(int)
vis_code = vis_code.sort_values('cd_b')
vis_code = vis_code.reset_index(drop=True)

In [ ]:
vis_code

  cd_a  cd_b      cd_nm
0  REC     1  전혀 그렇지 않다
1  REC     2     그렇지 않다
2  REC     3         보통
3  REC     4        그렇다
4  REC     5     매우 그렇다

#### SGG_CD

- 시군구코드
- 파일명 : tc_sgg

In [ ]:
tc_sgg = pd.read_csv('data/tc_sgg_시군구코드.csv')
tc_sgg

,SGG_CD,SGG_CD1,SGG_CD2,SGG_CD3,SGG_CD4,SIDO_NM,SGG_NM,DONG_NM,RI_NM
0,1100000000,11,NaN,NaN,NaN,서울특별시,NaN,NaN,NaN
1,1111000000,11,110.0,NaN,NaN,서울특별시,종로구,NaN,NaN
2,1111010100,11,110.0,101.0,0.0,서울특별시,종로구,청운동,NaN
3,1111010200,11,110.0,102.0,0.0,서울특별시,종로구,신교동,NaN
4,1111010300,11,110.0,103.0,0.0,서울특별시,종로구,궁정동,NaN
...,...,...,...,...,...,...,...,...,...
8070,5013025929,50,130.0,259.0,29.0,제주특별자치도,서귀포시,성산읍,신풍리
8071,5013025930,50,130.0,259.0,30.0,제주특별자치도,서귀포시,성산읍,신천리
8072,5013025931,50,130.0,259.0,31.0,제주특별자치도,서귀포시,성산읍,난산리
8073,5013031000,50,130.0,310.0,0.0,제주특별자치도,서귀포시,안덕면,NaN
8074,5013032000,50,130.0,320.0,0.0,제주특별자치도,서귀포시,표선면,NaN

## VISIT AREA INFO

- 결측치 및 이상치 탐색

In [2]:
import numpy as np
import pandas as pd

#### 데이터 확인

In [3]:
visit_info = pd.read_csv('data/tn_visit_area_info_방문지정보_E.csv')

In [4]:
visit_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21384 entries, 0 to 21383
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   VISIT_AREA_ID        21384 non-null  int64
 1   TRAVEL_ID            21384 non-null  object
 2   VISIT_ORDER          21384 non-null  int64
 3   VISIT_AREA_NM        21384 non-null  object
 4   VISIT_START_YMD      21384 non-null  object
 5   VISIT_END_YMD        21384 non-null  object
 6   ROAD_NM_ADDR         18293 non-null  object
 7   LOTNO_ADDR           16044 non-null  object
 8   X_COORD              14486 non-null  float64
 9   Y_COORD              14486 non-null  float64
 10  ROAD_NM_CD           1338 non-null   float64
 11  LOTNO_CD             1338 non-null   float64
 12  POI_ID               14674 non-null  object
 13  POI_NM               14674 non-null  object
 14  RESIDENCE_TIME_MIN   18821 non-null  float64
 15  VISIT_AREA_TYPE_CD   21384 non-null  int64
 16  REVISIT_YN           15733 non-null  object
 17  VISIT_CHC_REASON_CD  15757 non-null  float64
 18  LODGING_TYPE_CD      1168 non-null   float64
 19  DGSTFN               15725 non-null  float64
 20  REVISIT_INTENTION    15725 non-null  float64
 21  RCMDTN_INTENTION     15725 non-null  float64
 22  SGG_CD               5391 non-null   float64
dtypes: float64(11), int64(3), object(9)
memory usage: 3.8+ MB

In [5]:
visit_info.describe()

,VISIT_AREA_ID,VISIT_ORDER,X_COORD,Y_COORD,ROAD_NM_CD,LOTNO_CD,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD
count,2.138400e+04,21384.000000,14486.000000,14486.000000,1.338000e+03,1.338000e+03,18821.000000,21384.000000,15757.000000,1168.000000,15725.000000,15725.000000,15725.000000,5.391000e+03
mean,2.306947e+09,5.871352,127.025024,37.476058,3.663097e+06,3.004637e+09,125.440200,12.099747,4.713207,3.086473,4.296407,4.103657,4.183339,2.928409e+09
std,1.150240e+06,4.589908,0.287460,0.311495,6.269566e+05,1.398364e+09,187.150748,7.322599,3.229766,2.897309,0.813562,0.979406,0.908650,1.435002e+09
min,2.304280e+09,1.000000,126.239953,33.507079,2.000002e+06,1.111017e+09,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.100000e+01
25%,2.306050e+09,3.000000,126.911137,37.387977,3.178016e+06,1.159011e+09,30.000000,6.000000,2.000000,1.000000,4.000000,3.000000,4.000000,1.159010e+09
50%,2.307060e+09,5.000000,127.004517,37.523847,3.350890e+06,4.111514e+09,60.000000,11.000000,4.000000,2.000000,4.000000,4.000000,4.000000,4.111314e+09
75%,2.308190e+09,8.000000,127.104559,37.578176,4.190184e+06,4.139013e+09,120.000000,21.000000,7.000000,5.000000,5.000000,5.000000,5.000000,4.139010e+09
max,2.309180e+09,38.000000,129.414932,38.309376,4.862065e+06,5.178026e+09,2280.000000,24.000000,11.000000,12.000000,5.000000,5.000000,5.000000,5.011025e+09

In [6]:
len(visit_info)

21384

In [7]:
visit_info.isnull().sum()

VISIT_AREA_ID              0
TRAVEL_ID                  0
VISIT_ORDER                0
VISIT_AREA_NM              0
VISIT_START_YMD            0
VISIT_END_YMD              0
ROAD_NM_ADDR            3091
LOTNO_ADDR              5340
X_COORD                 6898
Y_COORD                 6898
ROAD_NM_CD             20046
LOTNO_CD               20046
POI_ID                  6710
POI_NM                  6710
RESIDENCE_TIME_MIN      2563
VISIT_AREA_TYPE_CD         0
REVISIT_YN              5651
VISIT_CHC_REASON_CD     5627
LODGING_TYPE_CD        20216
DGSTFN                  5659
REVISIT_INTENTION       5659
RCMDTN_INTENTION        5659
SGG_CD                 15993
dtype: int64

In [8]:
pd.set_option('display.max_columns', None)
# temp = visit_info.head()
# temp.to_csv('visit_info_head.csv', encoding='utf-8-sig')

In [9]:
visit_info[visit_info['TRAVEL_ID'] == 'e_e000004']

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,ROAD_NM_CD,LOTNO_CD,POI_ID,POI_NM,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD
0,2304300001,e_e000004,1,집,2023-04-30,2023-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN,NaN,4.159012e+09
1,2304300002,e_e000004,2,화성 관광열차 안내소 연무대 매표소,2023-04-30,2023-04-30,경기 수원시 팔달구 창룡대로103번길 20,경기 수원시 팔달구 매향동 3-32,127.023339,37.287878,NaN,NaN,POI01000000ALZU7R,동대문종합시장 악세서리부자재시장,60.0,2,N,10.0,NaN,4.0,3.0,4.0,NaN
2,2304300003,e_e000004,3,창룡문,2023-04-30,2023-04-30,NaN,경기 수원시 팔달구 남수동,127.025143,37.287791,NaN,NaN,POI010000006N1USC,창룡문,30.0,2,N,1.0,NaN,4.0,4.0,4.0,NaN
3,2304300004,e_e000004,4,수원 화성 화홍문,2023-04-30,2023-04-30,NaN,경기 수원시 팔달구 북수동 9000-1,127.017626,37.287546,NaN,NaN,POI01000TR021821V,수원화성 화홍문,60.0,2,N,10.0,NaN,4.0,3.0,3.0,NaN
4,2304300005,e_e000004,5,집,2023-04-30,2023-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390.0,21,NaN,NaN,NaN,NaN,NaN,NaN,4.159012e+09

#### 1 ~ 6 여행, 방문지, 방문순서, 방문 시작일, 종료일

- 방문지역에는 다수의 여행객이 매핑

In [ ]:
temp = visit_info[['VISIT_AREA_ID', 'TRAVEL_ID', 'VISIT_ORDER', 'VISIT_AREA_NM', 'VISIT_START_YMD', 'VISIT_END_YMD']]    
temp[temp['VISIT_AREA_ID'] == 2304300002]

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD
1,2304300002,e_e000004,2,화성 관광열차 안내소 연무대 매표소,2023-04-30,2023-04-30
6,2304300002,e_e000006,2,청량리역 경춘선,2023-04-30,2023-04-30
23,2304300002,e_e000009,8,샤오바오 고덕점,2023-04-30,2023-04-30
39,2304300002,e_e000010,12,미사리밀빛초계국수 롯데월드점,2023-04-30,2023-04-30
53,2304300002,e_e000011,11,동원 홈 푸드라운지 국립 현대미술관점,2023-04-30,2023-04-30
78,2304300002,e_e000015,11,에인절 코인 노래연습장 건대점,2023-04-30,2023-04-30
108,2304300002,e_e000020,9,가평 양떼목장,2023-04-30,2023-04-30
123,2304300002,e_e000021,11,티 카페 차희,2023-04-30,2023-04-30
142,2304300002,e_e000025,5,집,2023-04-30,2023-05-01
152,2304300002,e_e000037,4,강촌 아파트,2023-04-30,2023-05-01
194,2304300002,e_e000041,14,바리고 빈스,2023-04-30,2023-04-30
211,2304300002,e_e000045,6,마장호수,2023-04-30,2023-04-30
21293,2304300002,f_f000038,6,맥도날드,2023-04-30,2023-04-30

- 여행id 기준으로 확인
  - 여행 (순서)여정 확인 가능 : TRAVEL_ID 기준 로우 카운트
  - 총 여행 소요일 확인 가능 : VISIT_END_YMD - VISIT_START_YMD

In [ ]:
temp = visit_info[['VISIT_AREA_ID', 'TRAVEL_ID', 'VISIT_ORDER', 'VISIT_AREA_NM', 'VISIT_START_YMD', 'VISIT_END_YMD']]    
temp = temp[temp['TRAVEL_ID']=='e_e000004']

In [ ]:
temp

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD
0,2304300001,e_e000004,1,집,2023-04-30,2023-04-30
1,2304300002,e_e000004,2,화성 관광열차 안내소 연무대 매표소,2023-04-30,2023-04-30
2,2304300003,e_e000004,3,창룡문,2023-04-30,2023-04-30
3,2304300004,e_e000004,4,수원 화성 화홍문,2023-04-30,2023-04-30
4,2304300005,e_e000004,5,집,2023-04-30,2023-05-01

- 여행 id에 어떤 규칙이 있는지 확인해보기

In [ ]:
# temp = visit_info[['VISIT_AREA_ID', 'TRAVEL_ID', 'VISIT_ORDER', 'VISIT_AREA_NM', 'VISIT_START_YMD', 'VISIT_END_YMD']]    
# temp = temp[temp['TRAVEL_ID']=='f_f000038']

#### 7 ~ 12 방문지 주소 관련 컬럼

In [ ]:
# ROAD_NM_ADDR	도로명주소
# LOTNO_ADDR	지번주소
# X_COORD	    X좌표
# Y_COORD	    Y좌표
# ROAD_NM_CD	도로명코드
# LOTNO_CD	    지번코드

- 각 주소는 방문지마다의 주소로 도로명 / 지번 / 위도, 경도 정보가 있음
- 방문지 마다의 주소가 필요한지 확인 (여행 지역만 본다하면 주소컬럼 제외)
- 필요하면 하나의 컬럼으로 정리하자
- 기준은 도로명주소로 통일

In [ ]:
temp = visit_info[['VISIT_AREA_ID', 'TRAVEL_ID', 'VISIT_ORDER', 'VISIT_AREA_NM', 'ROAD_NM_ADDR', 'LOTNO_ADDR', 'X_COORD' ,'Y_COORD', 'ROAD_NM_CD', 'LOTNO_CD']]    

travel_id = 'f_f000038' # 'e_e000004'
temp = temp[temp['TRAVEL_ID']==travel_id] 
temp

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,ROAD_NM_CD,LOTNO_CD
21287,2304290001,f_f000038,1,숙소,영동대로 726,NaN,NaN,NaN,NaN,NaN
21288,2304290002,f_f000038,5,친척 집,엑스포아파트,NaN,NaN,NaN,NaN,NaN
21289,2304290003,f_f000038,2,친척 집,NaN,NaN,NaN,NaN,NaN,NaN
21290,2304290004,f_f000038,3,박통,NaN,NaN,NaN,NaN,NaN,NaN
21291,2304290005,f_f000038,4,김경자 소문난 대구왕뽈찜 서구점,대전 서구 월평북로 91,대전 서구 월평동 240,127.378574,36.362488,NaN,NaN
21292,2304300001,f_f000038,11,동탄 호수 자이 파밀리에 아파트,경기 화성시 동탄대로2길 19,경기 화성시 장지동 963,127.107081,37.159923,NaN,NaN
21293,2304300002,f_f000038,6,맥도날드,NaN,NaN,NaN,NaN,NaN,NaN
21294,2304300003,f_f000038,7,롯데백화점 동탄점,경기 화성시 동탄역로 160,경기 화성시 오산동 967-2419,127.097919,37.200709,NaN,NaN
21295,2304300004,f_f000038,8,동탄 호수 공원,NaN,경기 화성시 송동 54-1,127.104522,37.167834,NaN,NaN
21296,2304300005,f_f000038,9,명륜 진사갈비 화성 남동탄점,경기 화성시 동탄장지천5길 6,경기 화성시 장지동 962-6,127.106697,37.158200,NaN,NaN
21297,2304300006,f_f000038,10,브라보 노래연습장,경기 화성시 순환대로 127-23,NaN,127.107264,37.167760,NaN,NaN
21298,2305010001,f_f000038,15,집,NaN,NaN,NaN,NaN,NaN,NaN
21299,2305010002,f_f000038,12,신세계백화점 경기점,경기 용인시 수지구 포은대로 536,경기 용인시 수지구 죽전동 1285,127.108256,37.325030,NaN,NaN
21300,2305010003,f_f000038,13,리골레토 시카고피자 보정점,경기 용인시 기흥구 죽전로15번길 11-12,경기 용인시 기흥구 보정동 1186-11,127.109555,37.321698,NaN,NaN
21301,2305010004,f_f000038,14,황제 양꼬치,경기 용인시 기흥구 죽전로15번길 3-8,경기 용인시 기흥구 보정동 1193-10,127.109694,37.321024,NaN,NaN

- ROAD_NM_CD, LOTNO_CD 전체중 94%가 널이기도 하고 중복 정보로 제외

In [ ]:
temp = visit_info[['VISIT_AREA_ID', 'TRAVEL_ID', 'VISIT_ORDER', 'VISIT_AREA_NM', 'ROAD_NM_ADDR', 'LOTNO_ADDR', 'X_COORD' ,'Y_COORD', 'ROAD_NM_CD', 'LOTNO_CD']]    

print(temp['ROAD_NM_CD'].isnull().sum() / len(temp))
print(temp['LOTNO_CD'].isnull().sum() / len(temp))

0.9374298540965208
0.9374298540965208

#### 13, 14 poi master 사용안하므로 제외

In [ ]:
temp = visit_info[['VISIT_AREA_ID', 'TRAVEL_ID', 'VISIT_ORDER', 'VISIT_AREA_NM', 'POI_ID', 'POI_NM']]    
temp

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,POI_ID,POI_NM
0,2304300001,e_e000004,1,집,NaN,NaN
1,2304300002,e_e000004,2,화성 관광열차 안내소 연무대 매표소,POI01000000ALZU7R,동대문종합시장 악세서리부자재시장
2,2304300003,e_e000004,3,창룡문,POI010000006N1USC,창룡문
3,2304300004,e_e000004,4,수원 화성 화홍문,POI01000TR021821V,수원화성 화홍문
4,2304300005,e_e000004,5,집,NaN,NaN
...,...,...,...,...,...,...
21379,2308270002,h_h003275,2,용인농촌테마파크,POI010000006S1184,용인농촌테마파크
21380,2308270003,h_h003275,3,내동마을 연꽃 단지,POI03000TR018341V,내동마을연꽃단지
21381,2308270004,h_h003275,4,외할머니 집,POI01000000CT5Q2Y,외할머니집
21382,2308270005,h_h003275,5,삼성화재 모빌리티 뮤지엄,POI03000TR018343V,삼성화재 모빌리티뮤지엄
21383,2308270006,h_h003275,6,집,NaN,NaN

#### 15 체류시간(분)

In [ ]:
temp = visit_info[['VISIT_AREA_ID', 'TRAVEL_ID', 'VISIT_ORDER', 'VISIT_AREA_NM', 'RESIDENCE_TIME_MIN']]    

travel_id = 'e_e000004'
temp = temp[temp['TRAVEL_ID']==travel_id] 
temp

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,RESIDENCE_TIME_MIN
0,2304300001,e_e000004,1,집,NaN
1,2304300002,e_e000004,2,화성 관광열차 안내소 연무대 매표소,60.0
2,2304300003,e_e000004,3,창룡문,30.0
3,2304300004,e_e000004,4,수원 화성 화홍문,60.0
4,2304300005,e_e000004,5,집,390.0

In [ ]:
temp = visit_info[['VISIT_AREA_ID', 'TRAVEL_ID', 'VISIT_ORDER', 'VISIT_AREA_NM', 'RESIDENCE_TIME_MIN']]    

travel_id = 'f_f000038'
temp = temp[temp['TRAVEL_ID']==travel_id] 
temp['VISIT_ORDER'] = temp['VISIT_ORDER'].astype(int)
temp = temp.sort_values(by=['VISIT_ORDER'])

- %숙소%, %집% 의 visit_order 의 체류시간은 필요없을 듯 싶음
- 랜드마크같은 관광지에 대한 체류시간은 서브 정보로 활용하고
- 총 소요일수가 있고, 시간까지는 굳이다 싶으면 체류시간 자체의 컬럼은 제외 고려
- 얻을 수 있는 정보 : 여행동안의 방문지 카운트(집, 숙소제외), 여행동안의 방문지 유형별 평균체류시간 ((필요하면 / 집, 숙소제외))

In [ ]:
temp

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,RESIDENCE_TIME_MIN
21287,2304290001,f_f000038,1,숙소,NaN
21289,2304290003,f_f000038,2,친척 집,90.0
21290,2304290004,f_f000038,3,박통,300.0
21291,2304290005,f_f000038,4,김경자 소문난 대구왕뽈찜 서구점,60.0
21288,2304290002,f_f000038,5,친척 집,780.0
21293,2304300002,f_f000038,6,맥도날드,30.0
21294,2304300003,f_f000038,7,롯데백화점 동탄점,90.0
21295,2304300004,f_f000038,8,동탄 호수 공원,60.0
21296,2304300005,f_f000038,9,명륜 진사갈비 화성 남동탄점,120.0
21297,2304300006,f_f000038,10,브라보 노래연습장,90.0
21292,2304300001,f_f000038,11,동탄 호수 자이 파밀리에 아파트,60.0
21299,2305010002,f_f000038,12,신세계백화점 경기점,90.0
21300,2305010003,f_f000038,13,리골레토 시카고피자 보정점,120.0
21301,2305010004,f_f000038,14,황제 양꼬치,180.0
21298,2305010001,f_f000038,15,집,30.0

#### 16 ~ 22 방문지, 숙소 만족도 관련

In [ ]:
def columns_eng_to_kor(df):
    mapping = {
        "VISIT_AREA_TYPE_CD": "방문지유형코드",
        "REVISIT_YN": "재방문여부",
        "VISIT_CHC_REASON_CD": "방문선택이유코드",
        "LODGING_TYPE_CD": "숙소유형코드",
        "DGSTFN": "만족도",
        "REVISIT_INTENTION": "재방문의향",
        "RCMDTN_INTENTION": "추천의향",
    }
    return df.rename(columns=mapping)

In [ ]:
temp = visit_info[['VISIT_AREA_ID', 'TRAVEL_ID', 'VISIT_ORDER', 'VISIT_AREA_NM', \
                   'VISIT_AREA_TYPE_CD', 'REVISIT_YN', 'VISIT_CHC_REASON_CD', \
                    'LODGING_TYPE_CD', 'DGSTFN', 'REVISIT_INTENTION', 'RCMDTN_INTENTION']]    

df = columns_eng_to_kor(temp)

# travel_id = 'f_f000038'
# df = df[df['TRAVEL_ID']==travel_id] 
# df['VISIT_ORDER'] = df['VISIT_ORDER'].astype(int)
# df = df.sort_values(by=['VISIT_ORDER'])

In [ ]:
df.head()

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,방문지유형코드,재방문여부,방문선택이유코드,숙소유형코드,만족도,재방문의향,추천의향
0,2304300001,e_e000004,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
1,2304300002,e_e000004,2,화성 관광열차 안내소 연무대 매표소,2,N,10,NaN,4,3,4
2,2304300003,e_e000004,3,창룡문,2,N,1,NaN,4,4,4
3,2304300004,e_e000004,4,수원 화성 화홍문,2,N,10,NaN,4,3,3
4,2304300005,e_e000004,5,집,21,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isnull().sum()

VISIT_AREA_ID        0
TRAVEL_ID            0
VISIT_ORDER          0
VISIT_AREA_NM        0
방문지유형코드              0
재방문여부             5651
방문선택이유코드          5627
숙소유형코드           20216
만족도               5659
재방문의향             5659
추천의향              5659
dtype: int64

In [ ]:
# 방문지유형코드별 null값 확인
cols = ['재방문여부', '방문선택이유코드', '숙소유형코드', '만족도', '재방문의향', '추천의향']
df.groupby('방문지유형코드')[cols].apply(lambda x: x.isnull().sum())

# VIS	21	집
# VIS	22	친구/친지집
# VIS	23	사무실
# VIS	24	숙소

         재방문여부  방문선택이유코드  숙소유형코드   만족도  재방문의향  추천의향
방문지유형코드
1            0         0     895     0      0     0
2            0         0    1010     0      0     0
3            0         0     940     0      0     0
4            0         0    2263     0      0     0
5            0         0     179     0      0     0
6            0         0     453     0      0     0
7            0         0     598     0      0     0
8            0         0     125     0      0     0
9            0         0    1520     0      0     0
10           0         0     687     0      0     0
11           0         0    5032     0      0     0
12           0         0     291     0      0     0
13           0         0     473     0      0     0
21        4784      4757    4777  4784   4784  4784
22         719       722     817   727    727   727
23         140       140     148   140    140   140
24           8         8       8     8      8     8

In [ ]:
def overlap_count(isnull_df1, isnull_df2):
    # 겹치는 travel_id 개수
    overlap_count = len(set(isnull_df1) & set(isnull_df2))
    return overlap_count

##### 재방문여부 5651 null 인 데이터 확인

In [ ]:
isnull_df = df[df['재방문여부'].isnull() == True]
isnull_df # 대부분 방문지가 집인 곳이 null

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,방문지유형코드,재방문여부,방문선택이유코드,숙소유형코드,만족도,재방문의향,추천의향
0,2304300001,e_e000004,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
4,2304300005,e_e000004,5,집,21,NaN,NaN,NaN,NaN,NaN,NaN
5,2304300001,e_e000006,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
12,2304300008,e_e000006,8,신창현 풍림아이원 1차 아파트,22,NaN,NaN,NaN,NaN,NaN,NaN
15,2305010003,e_e000006,11,집,21,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21369,2308190004,g_g007343,4,집,21,NaN,NaN,NaN,NaN,NaN,NaN
21370,2309020001,g_g010556,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
21371,2309020002,g_g010556,8,집,21,NaN,NaN,NaN,NaN,NaN,NaN
21378,2308270001,h_h003275,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
21383,2308270006,h_h003275,6,집,21,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
isnull_df.isnull().sum()

VISIT_AREA_ID       0
TRAVEL_ID           0
VISIT_ORDER         0
VISIT_AREA_NM       0
방문지유형코드             0
재방문여부            5651
방문선택이유코드         5624
숙소유형코드           5638
만족도              5651
재방문의향            5651
추천의향             5651
dtype: int64

In [ ]:
isnull_df1 = isnull_df.TRAVEL_ID.unique()
isnull_df1

array(['e_e000004', 'e_e000006', 'e_e000009', ..., 'g_g007343',
       'g_g010556', 'h_h003275'], shape=(2560,), dtype=object)

In [ ]:
# 대부분 방문지가 집인 곳이 null >> 방문지 unique값으로 재확인
visit_area_list = list(isnull_df.VISIT_AREA_NM.unique())

# 방문지유형코드로도 재확인
# VIS	1	자연관광지
# VIS	2	역사/유적/종교 시설(문화재, 박물관, 촬영지, 절 등)
# VIS	3	문화 시설(공연장, 영화관, 전시관 등)
# VIS	4	상업지구(거리, 시장, 쇼핑시설)
# VIS	5	레저/스포츠 관련 시설(스키, 카트, 수상레저)
# VIS	6	테마시설(놀이공원, 워터파크)
# VIS	7	산책로, 둘레길 등
# VIS	8	지역 축제/행사
# VIS	9	역, 터미널, 고속도로 휴게소
# VIS	10	상점
# VIS	11	식당/카페
# VIS	12	기타
# VIS	13	체험 활동 관광지
# VIS	21	집
# VIS	22	친구/친지집
# VIS	23	사무실
# VIS	24	숙소

In [ ]:
visit_area_list

['집',
 '신창현 풍림아이원 1차 아파트',
 '친구 친지 집',
 '영남아파트',
 '친구 집',
 '사무실',
 '삼환아파트',
 '김해 율하시티프라디움아파트',
 '본가',
 '해솔마을 7단지 롯데캐슬 아파트',
 '하색리',
 '강촌 아파트',
 '드림하우스',
 '네이처 빌',
 '곡반정동',
 'DMC 파크뷰 자이 1단지 아파트',
 '로마 부동산',
 '동화 아파트',
 '서울대학교병원',
 '베스티안 오피스텔',
 '청계 푸르지오 시티',
 '친지 집 숙박',
 '친구 집 방문',
 '친지 집(숙박)',
 '안양 대우아파트',
 '한아름마을 라이프 현대아파트',
 '본가 집 도착',
 '산내 마을 1단지 아파트',
 '대원 레스피아 2단지 아파트',
 '부모님 집',
 '숙소',
 '자택',
 '베네치아의 아침 오피스텔',
 '광교 시티아이',
 'YG 포레스트',
 '할머니 집',
 '신흥동',
 '효성 해링턴 플레이스 아파트',
 '강동구청역 8호선',
 '부모님 댁',
 '서울숲 지구대',
 '친척 집',
 'SM 안 아주 아파트',
 '구리시 청년창업 지원센터',
 '화성 동탄 2엘에 이치 35단지 아파트',
 '삼성전자 기흥캠퍼스 정문',
 '구일 주택 ',
 '안녕동 우방아이유쉘아파트',
 '동남 패밀리 아파트',
 '수정 빌라',
 '현대 2차 아파트',
 '서울 동대문구 제기동 1140-41',
 '서울 동대문구 재기동 1140-41',
 '꿈마을 우성아파트 25동 51호',
 '아트 폴레',
 'LH 김포한강 1단지',
 '부천 아이파크 아파트',
 '딤딤섬 센트럴시티점',
 '신세계 센트럴시티',
 '부모님댁',
 '도화 현대 1차 아파트',
 '유통 상가',
 '풍림아이원 6-2단지 아파트',
 '친구의 친지 집(숙소)',
 '친구 집(숙소)',
 '예그린 하우스',
 '여자친구 집',
 '지인 집',
 '이문 1차 푸르지오 아파트',
 '친구네 집',
 '금강 프라임 빌',
 '다인로얄팰리스배곧9차오피스텔',
 '은행마을 태산 아파트',
 '스카이 가든 본동',
 '초성리 27',
 '현대아파트',
 '친지 집',
 '가족 집',
 '친구 집(숙박)',
 '루트로',
 '현대그린아파트',
 '수리사로 4',
 '안양',
 '판교원마을 9단지 한림 풀게 범 아파트',
 '광명역 서밋 플레이스 아파트',
 '성락 아파트',
 '노량진역 9호선',
 '벽산아파트',
 '한신콤프렛서 파주점',
 '파주 푸르지오 아파트',
 '동아 빌라',
 '판교 테크원 타워',
 '위 스테이 별내 아파트',
 '목동역 5호선',
 '경기 용인시 기흥구',
 '우리 집',
 '월곡두산위브 아파트',
 '처가댁',
 '황새울로 258번 길 35',
 '아주 아파트',
 '두정역 효성 해링턴',
 '부평 SK VIEW 해모로 아파트',
 '전주역',
 '청울림아파트',
 '능곡 현대홈타운 1차 아파트',
 '현대 3차 아파트',
 '유엔 타운',
 '양산 가촌 휴먼시아 아파트',
 '경기도 성남시 분당구 백현로',
 '백현마을',
 '우성 2차 아파트',
 '북한산 아이파크 아파트',
 '서울 관악구 양녕으로 6길 14',
 '김포 고촌 솔리 힐다 테라스',
 '보산 주공아파트',
 '광진구 구의로',
 '마곡역 센트럴 푸르지오 시티 오피스텔',
 '광교 데시앙루브 오피스텔',
 '그랜드 캐슬',
 '한화 꿈에 그린 아파트',
 '태릉 브라운스톤 아파트',
 '방화 2단지 아파트',
 '수원 시청역 SK 뷰 아파트',
 '집 도착',
 '피엘 성형외과 의원',
 '쌍용 더 플래티넘 부평 아파트',
 '광명역세권 휴먼시아 5단지 아파트',
 '간석 어울림마을 아파트',
 '동성빌딩',
 '천호지구대 근처 자취방',
 '집 근처 이마트(장 보기)',
 '시흥 6차 푸르지오 2단지 아파트',
 '까치마을주공 2단지 아파트',
 '도룡 하우스 디 오피스텔',
 '서울시 영등포구',
 '월곶 풍림아이원 2차 아파트',
 '은 뜨락 아파트',
 '번동 한양아파트',
 '더 숍 인천 스카이타워 1단지 아파트',
 '동도 빌라',
 '오산대역 호반 서밋 아파트',
 '아이엠 삼송 오피스텔',
 '가람 빌딩',
 '케렌시아T클래스오피스텔',
 '대명 주택',
 '울산역',
 '천호 태영아파트',
 '남양주 별내 스위첸 아파트',
 '그린힐 반도유보라 아이비 파크아파트',
 '청라 LH4단지 휴먼시아 아파트',
 '디지털미디어시티역 경의중앙선',
 '동탄 퍼스트 파크 아파트',
 '용강동 494-111',
 '선릉 대림아크로텔 오피스텔',
 '강동 현대홈타운 아파트',
 '장미아파트',
 '백제고분로 7길 8-41',
 '동교로',
 '카페 타임',
 '화성 시청역 센트럴파크 스타힐스 2단지 아파트',
 '길음역 금호어울림센터 힐 아파트',
 '위례로 제비원 아파트',
 '삼성나노시티 기흥캠퍼스',
 '시흥 센트럴 푸르지오 아파트',
 '이수역 리가 아파트',
 '송도해모로 월드뷰 아파트',
 '안양 석수 대주파크빌 아파트',
 '지인 집 방문',
 '꿈마을 동아아파트',
 '서울 마포구 독 작로 2나 길 22',
 '본인 집',
 '홈플러스 북수원점 주차장',
 '친가 집',
 '휴가든',
 '할머니댁',
 '덕풍 초등학교',
 '용산 베르디움 프렌즈 아파트',
 '오이도역 공영주차장',
 '동생 집',
 '원주 태장 LH 천년나무 6단지 아파트',
 '대운 캐슬',
 '동양미래대학교',
 '전북혁신 우미린 1단지 아파트',
 '용산역',
 '신일유토빌 아파트',
 '검단신도시 파라곤 보타닉파크아파트',
 '산내들 마을한양수자인 아파트',
 '삼각산아이원 아파트 122동',
 '불암현대아파트',
 '청라메이루즈커낼파크뷰아파트',
 '신촌 숲 아이파크 아파트',
 '신흥역하늘채랜더스원아파트',
 '건국대학교 서울캠퍼스',
 '은평 서해그랑블 아파트',
 '해바라기 원룸',
 '로얄팰리스2차오피스텔',
 '현대 펠리스',
 '화랑대역 6호선',
 '카페',
 '홍익 아파트',
 '이너매스 여울숲 오피스텔',
 '문호 종묘',
 '동탄 나루마을 신도브래뉴 아파트',
 '아이시티',
 '서울특별시 구로구 남부 순환로 15길 2',
 '엄마 집',
 '잠실 I-SPACEII 오피스텔',
 '문래 현대 홈 시티 1차 오피스텔',
 '사창 대원칸타빌 아파트',
 '동탄 레이크 자연앤 푸르지오 아파트',
 '서울오토갤러리',
 '시범한빛마을 동탄 삼부르네상스 아파트',
 '스카이시티자이아파트',
 '대전 동구 중앙로 240',
 '트윈팰리스 아파트',
 '친구 원룸',
 '경기도 의정부 녹양로 62번 길 65',
 '수원 정자 금강 에스쁘아 아파트',
 '배곧 생명공원',
 '녹번역 e편한세상 캐슬아파트',
 'YM 프리젠 하우스',
 '관악구청',
 '천안 성환 e 편한 세상 아파트',
 '평내마을 중흥 S 클래스 3단지 아파트',
 '친구 집(트리 빌리지)',
 '형 집',
 '엘에이치 호매실 스타힐스 아파트',
 '신미주 아파트',
 '모충 두산 한솔아파트',
 '퇴계원 힐스테이트 아파트',
 '송도 더프라우 3단지 아파트',
 '이화여자대학교',
 '한아름 마을 삼환 동아 등성 아파트',
 '남양주 거주 친구네 집',
 '비봉 자연 주말농장',
 '부개역 1호선',
 '한국지역난방공사 화성지사',
 '마곡수명산파크1단지아파트',
 '예림 패밀리타운',
 '할머니 댁',
 'e 편한 세상 보문 1단지 아파트',
 '상암 월드컵 파크 1단지 아파트',
 '동일로 182길 63-19',
 '당곡 마을 3단지 월드메르디앙 아파트',
 '스마트 트라움',
 '스카이 오피스텔',
 '주안 파크 장이 더 플래티넘 아파트',
 '대구테크노폴리스 LH 천년나무 3단지 아파트',
 '엘림 설비',
 '시온 빌',
 '광교 경남아너스빌 아파트',
 '에코메트로 7단지 한화 꿈에 그린 아파트',
 '선사현대아파트',
 '마곡 엠 밸리 9단지 아파트 916동',
 '대전역',
 '광교 아이파크 아파트',
 '강선마을 3단지 한신아파트',
 '가좌마을 2단지 대우 푸르지오 아파트',
 '익산역',
 '안양 센트럴 헤센 2차 오피스텔',
 '한양 아이클래스',
 '철산역 7호선',
 '여월 휴먼시아 3단지 아파트 후문',
 '광명역 파크자이 오피스텔',
 '광명역 센트럴자이 오피스텔',
 '영통 빌딩',
 '주공아파트',
 '논현동 임대주택',
 '장한 수제만두 찐빵',
 '가산 센트럴 푸르지오 시티 오피스텔',
 '평택 BIX 경기 행복주택 아파트',
 '보건복지행정타운',
 '센트로 61오피스텔',
 '인천 SK 스카이뷰 아파트',
 '비치나 움',
 '사슴 3단지 아파트',
 '레이크힐 반도유보라 아이비 파크 1.2아파트',
 '동작역 9호선',
 '포도마을 삼보 영남아파트',
 '난곡동 주민센터',
 '도봉산역 광역환승센터',
 '상계주공 5단지 아파트',
 '수원 시청',
 '인천 연수 풍림 3차 아파트',
 '충효마을 아파트',
 '가톨릭대학교 성심교정',
 '두진백로 그린타운 아파트',
 '장승박이 부동산 한화 공인중개사 사무소',
 '계양 하늘채 파크 포레 아파트',
 '봇들마을 9단지 금호어울림 아파트',
 '토평 마을 상록아파트 관리사무소',
 '사당자이 아파트',
 '수지 빌라',
 '덕소한강벽산메가트리움아파트',
 '래미안 강동 팰리스 아파트 12동',
 '동천역 신분당선',
 '도봉 한신아파트',
 '동탄 나루마을 동탄역 유보라 여울 숲 2.0 아파트',
 '합정역 6호선',
 '삼산타운 4단지 주공아파트',
 '경기 성남시 중원구 산성 대로 576번 길 4-1',
 '안산라프리모아파트',
 '봉담코아루카보드줌시티',
 '흥덕마을 7단지 힐스테이트 아파트',
 '부영사랑으로 아파트',
 '두산 더 프런트 미사',
 '로즈 빈 아파트',
 '현대자동차 2단지 아파트',
 '로즈힐',
 '구의동 207-30',
 '태산 아파트',
 '대상타운 현대아파트',
 '가양우성아파트',
 '동탄역 롯데캐슬 오피스텔',
 '가족의 자취방',
 '트리지움 아파트',
 '노량진 드림스퀘어 오피스텔',
 '충남 아산시 탕정면',
 '포레나 광교상현 아파트',
 '광명역 파크자이 아파트',
 '휴먼시아 7단지 아파트',
 '청호 아파트',
 '일산 테크노타운',
 '북한산 더 숍 아파트',
 '동탄 헤리움 오피스텔',
 '래미안솔베뉴아파트',
 '서건 미사 메트로타워 오피스텔',
 '휘경 해모로 프레스티지 아파트',
 '풍년마을 3단지 대림아파트',
 '화성 남양 시티 프라디움 4차 아파트',
 '강남역 이스턴',
 '금강 하이츠',
 '푸르지오 2차 아파트',
 '시티 극동아파트',
 '평택 고덕 어울림 스퀘어 아파트',
 '한양대학교 구리병원',
 '친정 부모님 댁',
 '천사의 도시 ll 오피스텔',
 '가락 삼환아파트',
 '성원 1차 아파트',
 '마장 에스에이치빌 아파트',
 '별내 5로 35',
 '친구 사무실',
 '남성선파크타운아파트',
 '벽적 골 9단지 주공아파트',
 '서울 마포구 홍이로 25',
 '하남 유니언 시티 에일린의 뜰 아파트',
 '신동탄 포레 자이',
 '전망 좋은 창',
 '매교역 푸르지오 SK VIEW 아파트',
 '정다운 마을 기숙사',
 '번지기 마을 1단지 아파트 정문',
 '비즈트위트 레인보',
 '로컬 스티치 홍대 2호',
 'LH 수월당 수 1단지 아파트',
 '다산해모로 아파트',
 '제이 타워 종로',
 '어머니 집',
 '창동역 1호선',
 '서울역 센트럴자이 아파트',
 '친구 집(픽업)',
 '목련마을 영남아파트',
 '초롱꽃 마을 8단지 중흥 S 클래스 아파트',
 '애오개역 5호선',
 '용인 기흥 효성 해링턴 플레이스 아파트',
 '주공 11단지 아파트',
 '부모님  집',
 '청솔마을 6단지 SK 한화아파트',
 '딸 집 방문',
 '시대 아파트',
 '파밀리에 하늘마루 아파트',
 '그랜드 빌',
 '우방 목련아파트',
 '지인 집  튜브 반납하러',
 '지인 집 반찬 나눔',
 '광교 센트럴 푸르지오 시티 오피스텔',
 '자연 안 힐스테이트 아파트',
 '글로리아 빌',
 '서촌 마을 영화 하이닉스 아파트',
 '분당수지 U 타워',
 '범계역 사무실',
 '황골로 83 호명 타운',
 '한솔 원룸',
 '킨텍스원시티M2블럭아파트',
 '광명사거리역 근처 친구네 집',
 '스테이 더 디자이너스 군자 오피스텔',
 '힐스테이트 클래에안 아파트',
 '위례 포레 샤인 23단지 아파트',
 '원종하이츠텔오피스텔',
 '하이웨이 디시 클럽 수원 정자점',
 '등촌으로 13가 길 11',
 '상록마을 4단지 임광 보성아파트',
 '신 나무실 6단지 동보 신명아파트',
 '죽미 마을 휴튼 9단지 아파트',
 'DMC 두산위브 더 퍼스트 아파트',
 '청라 29블록 호반베르디움-484동 전기차 충전소',
 '연신내역 트리플라 11동 아파트',
 '호원 우성 2차 아파트',
 '현일 랩 메이트(오피스텔)',
 '서울 동작구 신대방1가길 38 105동',
 '목동 신시가지 4단지 아파트',
 '성내 삼성아파트 정문',
 '동탄 센트럴자이 아파트',
 '출발 지점과 도착한 지점',
 '화성시 송산면 사강리',
 '양주역 1호선',
 '중계 주공 4단지 아파트',
 '고덕 래미안 힐스테이트 3-2게이트',
 '인덕원 마을삼성아파트',
 '비봉 주택',
 '금천 롯데캐슬골드파크 1차 아파트',
 '망포동 527-9 집',
 '백석역 3호선',
 '구로 주공 1차 아파트',
 '동탄역 반도유보라 아이비 파크 5.0 아파트',
 '집 강남점',
 '경기 화성시 동탄 반송 길 15-1',
 'NHN',
 '동편마을카페거리',
 '벧엘 양말',
 '주공뜨란채 아파트',
 '갈월에이트리움-고려오피스텔',
 '엘파크',
 '건국대학교병원',
 '양평군 식고 고길 56번 길',
 '여자친구 집 근처',
 '힐스테이트 클래에 안 아파트',
 '케이플러스 빌딩',
 '당진 원당 한라비발디아파트',
 '농장',
 '호매실 금호어울림 에듀 포레 아파트',
 '명동역 4호선',
 '힐스테이트푸르지오 수 원 아파트',
 '우림필유 오피스텔',
 '주안 웰가 오피스텔',
 '수원 하늘채 더 퍼스트 1단지 아파트',
 '동부그린',
 '신림동 11길 89-5',
 '상암 우남퍼스트빌스타 오피스텔',
 '하남 KCC 스위첸 아파트',
 '외할머니 댁',
 '시부모님댁',
 '친지 집 방문',
 '경남아파트',
 '산들마을서광청구아파트',
 '세양청마루 아파트',
 '인계 미루',
 '이 안채 B',
 '삼가역 에버라인',
 '성복역 리버파크 아파트',
 '오산 센트럴 푸르지오',
 '아트팰리스',
 'LG유플러스 본사',
 '한아름 주택',
 '대호빌딩',
 '삼일 빌라',
 '청평역 경춘선',
 '효성하어츠빌',
 '동탄 금강펜테리움 센트럴파크 4차 아파트',
 '경기도 화성시 동탄서 연 3길 17-4',
 '의정부 SK 뷰 아파트',
 '가좌마을 부영 그린타운 1차 아파트',
 '위례 포레 샤인 아파트',
 '서울 성동구 마조로 12길 12-13',
 '무지개아파트',
 '봉천동 196-28',
 '먹골역 7호선',
 '마포역 5호선',
 '르네상스 시티 (거주지)',
 '서울 관악구 남부 순환로 151길 4-7',
 '상계주공 1단지 아파트',
 '두리 아파트',
 '동양 오피스텔',
 '삼주 노블리제 아파트',
 '한화 유로메트로 1단지 아파트',
 '수원 센트럴 아이파크자이 아파트',
 '시흥 배곧 중흥 S 클래스 아파트',
 '서동탄역파크자이1차아파트',
 '인송중학교',
 '신정 뉴타운 롯데캐슬 아파트',
 '관악드림타운 아파트',
 '광성 오피스텔',
 '범어삼환나우빌아파트',
 '사당역 4호선 3번 출구',
 '한국 2차 아파트',
 '도봉서원종합사회복지관',
 '마곡수명산파크2단지아파트',
 '엘림 하우스',
 '동원아파트',
 '건민 빌딩',
 '시흥 은계 네이처 포레 아파트 114-293',
 '루원 e 편한 세상하늘채 아파트',
 'KCC 본사 근처',
 '롯데마트 오산점',
 '충청남도 천안시 서북구 두정동 1236',
 '은평 뉴타운 마고정 3단지 아파트(3139동)',
 '금호타운 아파트',
 '이림 빌라',
 '상동역 7호선',
 '삼익아파트',
 '하남 힐즈 파크푸르지오 1단지 아파트',
 '쉐이크쉑 천안점',
 '초월 롯데캐슬 1단지 아파트',
 '마곡역 센트럴 푸르지오',
 '안산 에비뉴 큐브시티 오피스텔',
 '성안 1길',
 '연꽃마을 대우 삼호아파트',
 '강남 빌딩',
 '파라곤 센트럴파크 아파트',
 '송도풍림아이원 6단지 아파트',
 '현대자동차 의왕연구소',
 '동방 국민주택',
 '동탄 호수 자이 파밀리에 아파트']

In [ ]:
visit_area_df = df[df['VISIT_AREA_NM'].apply(lambda x: x in visit_area_list)]

In [ ]:
# 방문지유형코드별 null값 확인
cols = ['재방문여부', '방문선택이유코드', '숙소유형코드', '만족도', '재방문의향', '추천의향']
visit_area_df.groupby('방문지유형코드')[cols].apply(lambda x: x.isnull().sum())

# VIS	21	집
# VIS	22	친구/친지집
# VIS	23	사무실
# VIS	24	숙소

         재방문여부  방문선택이유코드  숙소유형코드   만족도  재방문의향  추천의향
방문지유형코드
2            0         0       1     0      0     0
4            0         0       2     0      0     0
7            0         0       1     0      0     0
8            0         0       1     0      0     0
9            0         0      92     0      0     0
10           0         0       1     0      0     0
11           0         0       3     0      0     0
12           0         0       2     0      0     0
21        4784      4757    4777  4784   4784  4784
22         719       721     773   726    726   726
23         140       140     142   140    140   140
24           8         8       8     8      8     8

In [ ]:
visit_area_df.groupby('방문지유형코드')[cols].apply(lambda x: x.isnull().sum()).sum()

재방문여부       5651
방문선택이유코드    5626
숙소유형코드      5803
만족도         5658
재방문의향       5658
추천의향        5658
dtype: int64

##### 방문선택이유코드 5627 null 인 데이터 확인

In [ ]:
isnull_df = df[df['방문선택이유코드'].isnull() == True]
isnull_df

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,방문지유형코드,재방문여부,방문선택이유코드,숙소유형코드,만족도,재방문의향,추천의향
0,2304300001,e_e000004,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
4,2304300005,e_e000004,5,집,21,NaN,NaN,NaN,NaN,NaN,NaN
5,2304300001,e_e000006,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
12,2304300008,e_e000006,8,신창현 풍림아이원 1차 아파트,22,NaN,NaN,NaN,NaN,NaN,NaN
15,2305010003,e_e000006,11,집,21,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21369,2308190004,g_g007343,4,집,21,NaN,NaN,NaN,NaN,NaN,NaN
21370,2309020001,g_g010556,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
21371,2309020002,g_g010556,8,집,21,NaN,NaN,NaN,NaN,NaN,NaN
21378,2308270001,h_h003275,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
21383,2308270006,h_h003275,6,집,21,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
isnull_df.isnull().sum()

VISIT_AREA_ID       0
TRAVEL_ID           0
VISIT_ORDER         0
VISIT_AREA_NM       0
방문지유형코드             0
재방문여부            5624
방문선택이유코드         5627
숙소유형코드           5626
만족도              5627
재방문의향            5627
추천의향             5627
dtype: int64

In [ ]:
isnull_df2 = isnull_df.TRAVEL_ID.unique()

In [ ]:
overlap_count(isnull_df1, isnull_df2)

2560

In [ ]:
# 방문선택이유 활용하고자 했으나 여행객별 방문지를 확인했을때 여행객별 방문한 곳의 max는 38
# 총 unique한 visit_area_id는 1508로 컬럼으로 가져가기엔 과한것 같기에,
# EDA로 활용하고, 최종테이블로는 사용 X

# 여행객별 방문지
df.groupby('TRAVEL_ID')['VISIT_AREA_ID'].count().max()
df['VISIT_AREA_ID'].unique()

array([2304300001, 2304300002, 2304300003, ..., 2309050008, 2305280012,
       2304290011], shape=(1508,))

##### 숙소유형코드 20216 null 인 데이터 확인

In [ ]:
isnull_df = df[df['숙소유형코드'].isnull() == True]
isnull_df

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,방문지유형코드,재방문여부,방문선택이유코드,숙소유형코드,만족도,재방문의향,추천의향
0,2304300001,e_e000004,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
1,2304300002,e_e000004,2,화성 관광열차 안내소 연무대 매표소,2,N,10,NaN,4,3,4
2,2304300003,e_e000004,3,창룡문,2,N,1,NaN,4,4,4
3,2304300004,e_e000004,4,수원 화성 화홍문,2,N,10,NaN,4,3,3
4,2304300005,e_e000004,5,집,21,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21379,2308270002,h_h003275,2,용인농촌테마파크,13,N,1,NaN,4,4,4
21380,2308270003,h_h003275,3,내동마을 연꽃 단지,1,N,2,NaN,3,4,3
21381,2308270004,h_h003275,4,외할머니 집,11,N,2,NaN,3,2,3
21382,2308270005,h_h003275,5,삼성화재 모빌리티 뮤지엄,13,Y,4,NaN,5,5,5
21383,2308270006,h_h003275,6,집,21,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
isnull_df.isnull().sum()

VISIT_AREA_ID        0
TRAVEL_ID            0
VISIT_ORDER          0
VISIT_AREA_NM        0
방문지유형코드              0
재방문여부             5638
방문선택이유코드          5626
숙소유형코드           20216
만족도               5645
재방문의향             5645
추천의향              5645
dtype: int64

In [ ]:
isnull_df2 = isnull_df.TRAVEL_ID.unique()
overlap_count(isnull_df1, isnull_df2)

2560

##### 만족도 5659 null 인 데이터 확인

In [ ]:
isnull_df = df[df['만족도'].isnull() == True]
display(isnull_df.head())
print(isnull_df.isnull().sum())

isnull_df2 = isnull_df.TRAVEL_ID.unique()
overlap_count(isnull_df1, isnull_df2)

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,방문지유형코드,재방문여부,방문선택이유코드,숙소유형코드,만족도,재방문의향,추천의향
0,2304300001,e_e000004,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
4,2304300005,e_e000004,5,집,21,NaN,NaN,NaN,NaN,NaN,NaN
5,2304300001,e_e000006,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
12,2304300008,e_e000006,8,신창현 풍림아이원 1차 아파트,22,NaN,NaN,NaN,NaN,NaN,NaN
15,2305010003,e_e000006,11,집,21,NaN,NaN,NaN,NaN,NaN,NaN

VISIT_AREA_ID       0
TRAVEL_ID           0
VISIT_ORDER         0
VISIT_AREA_NM       0
방문지유형코드             0
재방문여부            5651
방문선택이유코드         5627
숙소유형코드           5645
만족도              5659
재방문의향            5659
추천의향             5659
dtype: int64

2560

##### 재방문의향 5659 null 인 데이터 확인

In [ ]:
isnull_df = df[df['재방문의향'].isnull() == True]
display(isnull_df.head())
print(isnull_df.isnull().sum())

isnull_df2 = isnull_df.TRAVEL_ID.unique()
overlap_count(isnull_df1, isnull_df2)

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,방문지유형코드,재방문여부,방문선택이유코드,숙소유형코드,만족도,재방문의향,추천의향
0,2304300001,e_e000004,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
4,2304300005,e_e000004,5,집,21,NaN,NaN,NaN,NaN,NaN,NaN
5,2304300001,e_e000006,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
12,2304300008,e_e000006,8,신창현 풍림아이원 1차 아파트,22,NaN,NaN,NaN,NaN,NaN,NaN
15,2305010003,e_e000006,11,집,21,NaN,NaN,NaN,NaN,NaN,NaN

VISIT_AREA_ID       0
TRAVEL_ID           0
VISIT_ORDER         0
VISIT_AREA_NM       0
방문지유형코드             0
재방문여부            5651
방문선택이유코드         5627
숙소유형코드           5645
만족도              5659
재방문의향            5659
추천의향             5659
dtype: int64

2560

##### 추천의향 5659 null 인 데이터 확인

In [ ]:
isnull_df = df[df['추천의향'].isnull() == True]
display(isnull_df.head())
print(isnull_df.isnull().sum())

isnull_df2 = isnull_df.TRAVEL_ID.unique()
overlap_count(isnull_df1, isnull_df2)

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,방문지유형코드,재방문여부,방문선택이유코드,숙소유형코드,만족도,재방문의향,추천의향
0,2304300001,e_e000004,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
4,2304300005,e_e000004,5,집,21,NaN,NaN,NaN,NaN,NaN,NaN
5,2304300001,e_e000006,1,집,21,NaN,NaN,NaN,NaN,NaN,NaN
12,2304300008,e_e000006,8,신창현 풍림아이원 1차 아파트,22,NaN,NaN,NaN,NaN,NaN,NaN
15,2305010003,e_e000006,11,집,21,NaN,NaN,NaN,NaN,NaN,NaN

VISIT_AREA_ID       0
TRAVEL_ID           0
VISIT_ORDER         0
VISIT_AREA_NM       0
방문지유형코드             0
재방문여부            5651
방문선택이유코드         5627
숙소유형코드           5645
만족도              5659
재방문의향            5659
추천의향             5659
dtype: int64

2560

#### 23 시군구코드

In [ ]:
pd.set_option('display.float_format', '{:.0f}'.format)

In [ ]:
temp = visit_info[['VISIT_AREA_ID', 'TRAVEL_ID', 'VISIT_ORDER', 'VISIT_AREA_NM', 'SGG_CD']]   

travel_id = 'f_f000038'
temp = temp[temp['TRAVEL_ID']==travel_id] 
temp['VISIT_ORDER'] = temp['VISIT_ORDER'].astype(int)
temp = temp.sort_values(by=['VISIT_ORDER'])

- 여행자의 출발지역과 방문지마다의 지역코드가 있음
- visit_order의 여행지 주활동지역을 알 수 있는 정보로 다른 정보로 대체가능하다면 제외 고려

In [ ]:
temp

       VISIT_AREA_ID  TRAVEL_ID  VISIT_ORDER      VISIT_AREA_NM     SGG_CD
21287     2304290001  f_f000038            1                 숙소 1168010400
21289     2304290003  f_f000038            2               친척 집 3011011800
21290     2304290004  f_f000038            3                 박통 3017011300
21291     2304290005  f_f000038            4  김경자 소문난 대구왕뽈찜 서구점        NaN
21288     2304290002  f_f000038            5               친척 집 3020014100
21293     2304300002  f_f000038            6               맥도날드 3023012600
21294     2304300003  f_f000038            7          롯데백화점 동탄점        NaN
21295     2304300004  f_f000038            8           동탄 호수 공원        NaN
21296     2304300005  f_f000038            9    명륜 진사갈비 화성 남동탄점        NaN
21297     2304300006  f_f000038           10          브라보 노래연습장 4159013500
21292     2304300001  f_f000038           11  동탄 호수 자이 파밀리에 아파트        NaN
21299     2305010002  f_f000038           12         신세계백화점 경기점        NaN
21300     2305010003  f_f000038           13     리골레토 시카고피자 보정점        NaN
21301     2305010004  f_f000038           14             황제 양꼬치        NaN
21298     2305010001  f_f000038           15                  집 1114014300

#### (After) 데이터 정제 및 데이터 가공

- 삭제할 컬럼 = ['ROAD_NM_ADDR','LOTNO_ADDR','X_COORD','Y_COORD','ROAD_NM_CD','LOTNO_CD','POI_ID','POI_NM','RESIDENCE_TIME_MIN','VISIT_CHC_REASON_CD','LODGING_TYPE_CD','SGG_CD']
- 방문지가 VIS={집:21, 친구/친지집:22, 사무실:23, 숙소:24} 코드에 해당하는 곳이 null임을 확인
- 여행id별 20~22 컬럼에 대하여 총 방문지들의 대체적인 만족도 평가로써 평균값(집 제외) 사용
- 재방문여부는 여행동안의 방문지중 재방문여부가 얼마나 되는지 비율 확인해서 활용 고려
- 집계시 VIS={집:21, 친구/친지집:22, 사무실:23, 숙소:24} 는 제외

## Data Cleansing

- 결측치 및 이상치 처리

In [67]:
import warnings
warnings.filterwarnings('ignore')

In [23]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

font_path = r'C:\Windows\Fonts\HMFMMUEX.TTC'
font_name = fm.FontProperties(fname=font_path).get_name()
plt.rc('font', family=font_name)
plt.rcParams['axes.unicode_minus'] = False

In [25]:
# 방문지 정보 테이블
visit_tbl = pd.read_csv('data/tn_visit_area_info_방문지정보_E.csv')

# 필요 없는 컬럼 제외
visit_tbl = visit_tbl.drop(['ROAD_NM_ADDR','LOTNO_ADDR','X_COORD','Y_COORD','ROAD_NM_CD','LOTNO_CD','POI_ID','POI_NM','RESIDENCE_TIME_MIN','VISIT_CHC_REASON_CD','LODGING_TYPE_CD','SGG_CD'], axis=1)

In [27]:
visit_tbl.head()

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,VISIT_AREA_TYPE_CD,REVISIT_YN,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
0,2304300001,e_e000004,1,집,2023-04-30,2023-04-30,21,NaN,NaN,NaN,NaN
1,2304300002,e_e000004,2,화성 관광열차 안내소 연무대 매표소,2023-04-30,2023-04-30,2,N,4.0,3.0,4.0
2,2304300003,e_e000004,3,창룡문,2023-04-30,2023-04-30,2,N,4.0,4.0,4.0
3,2304300004,e_e000004,4,수원 화성 화홍문,2023-04-30,2023-04-30,2,N,4.0,3.0,3.0
4,2304300005,e_e000004,5,집,2023-04-30,2023-05-01,21,NaN,NaN,NaN,NaN

In [ ]:
# 1. 만족도(DGSTFN), 재방문의향(REVISIT_INTENTION), 추천의향(RCMDTN_INTENTION)은 평균값(집 제외)으로 컬럼 추가
# 2. 총여행일수 : visit_order의 시작과 끝의 VISIT_END_YMD - VISIT_START_YMD
# 3. 여행이동횟수 : TRAVEL_ID 기준 로우 카운트(집 제외)
# 4. 재방문비율 : 여행객의 총 방문지수 대비 재방문(Y) 비율

In [70]:
df = visit_tbl.copy()
df['VISIT_START_YMD'] = pd.to_datetime(df['VISIT_START_YMD'])
df['VISIT_END_YMD'] = pd.to_datetime(df['VISIT_END_YMD'])

# 24는 숙소이고, 8곳의 설문이 없는 것이므로 제외하지 않는 것으로 결정
vis_code = [21, 22, 23] 
temp = df[~df['VISIT_AREA_TYPE_CD'].apply(lambda x: x in vis_code)]

# 1번 만족점수평균값 / 재방문점수평균값 / 추천점수평균값
temp1 = temp.groupby('TRAVEL_ID').agg(DGSTFN_AVG=('DGSTFN', 'mean'),REVISIT_AVG=('REVISIT_INTENTION', 'mean'),RCMDTN_AVG=('RCMDTN_INTENTION', 'mean')).reset_index()
# 2번 총여행일수
temp2 = df.groupby('TRAVEL_ID').apply(lambda x: (x['VISIT_END_YMD'].max() - x['VISIT_START_YMD'].min()).days + 1).reset_index(name='TRIP_DAYS')

# 3번 여행이동횟수
temp3 = temp.groupby('TRAVEL_ID')['VISIT_AREA_NM'].count().reset_index(name='MOVE_CNT')

# 4번 재방문비율
temp4 = temp.groupby('TRAVEL_ID')['REVISIT_YN'].apply(lambda x: (x.str.upper() == 'Y').sum() / len(x)).reset_index(name='VISIT_RATE')

In [72]:
# 1, 2, 3, 4번 결과를 travel_id 기준으로 병합
clean_visit_tbl = temp1.reset_index() \
    .merge(temp2, on='TRAVEL_ID', how='left') \
    .merge(temp3, on='TRAVEL_ID', how='left') \
    .merge(temp4, on='TRAVEL_ID', how='left')

In [73]:
clean_visit_tbl

,index,TRAVEL_ID,DGSTFN_AVG,REVISIT_AVG,RCMDTN_AVG,TRIP_DAYS,MOVE_CNT,VISIT_RATE
0,0,e_e000004,4.000000,3.333333,3.666667,2,3,0.000000
1,1,e_e000006,4.750000,4.750000,4.750000,3,8,0.625000
2,2,e_e000009,4.500000,4.500000,4.500000,3,10,0.200000
3,3,e_e000010,4.250000,4.250000,3.916667,3,12,0.833333
4,4,e_e000011,3.900000,3.700000,3.800000,4,10,0.200000
...,...,...,...,...,...,...,...,...
2555,2555,g_g003294,4.444444,4.111111,4.333333,3,9,0.111111
2556,2556,g_g005600,5.000000,5.000000,5.000000,2,1,1.000000
2557,2557,g_g007343,4.000000,3.000000,4.000000,2,2,0.500000
2558,2558,g_g010556,3.833333,4.000000,4.000000,2,6,0.000000
2559,2559,h_h003275,3.750000,3.750000,3.750000,2,4,0.250000

In [ ]:
# 정제 및 가공된 데이터 저장
clean_visit_tbl.to_csv('data/clean_visit_tbl.csv', encoding='utf-8-sig')

In [75]:
# EDA할 데이터 저장
visit_tbl.to_csv('data/eda_visit_tbl.csv', encoding='utf-8-sig')

## Data Cleansing Total Code

comment : 다른 테이블과 1:N으로 JOIN 후 여행id 기준으로 가공 진행하거나 혹은 선가공하고 JOIN할 수 있다는 생각에 두가지 케이스로 나누었고, 병합 진행시 선택해주시면 좋을 것 같습니다.

- 여행id, 방문지id (1:N) 로 확인할 경우

In [ ]:
import numpy as np
import pandas as pd 

# 방문지 정보 테이블
visit_tbl = pd.read_csv('data/tn_visit_area_info_방문지정보_E.csv')

# 필요 없는 컬럼 제외
visit_tbl = visit_tbl.drop(['ROAD_NM_ADDR','LOTNO_ADDR','X_COORD','Y_COORD','ROAD_NM_CD','LOTNO_CD','POI_ID','POI_NM','RESIDENCE_TIME_MIN','VISIT_CHC_REASON_CD','LODGING_TYPE_CD','SGG_CD'], axis=1)

- 여행id로 확인할 경우

In [ ]:
import numpy as np
import pandas as pd 

# 방문지 정보 테이블
visit_tbl = pd.read_csv('data/tn_visit_area_info_방문지정보_E.csv')

# 필요 없는 컬럼 제외
visit_tbl = visit_tbl.drop(['ROAD_NM_ADDR','LOTNO_ADDR','X_COORD','Y_COORD','ROAD_NM_CD','LOTNO_CD','POI_ID','POI_NM','RESIDENCE_TIME_MIN','VISIT_CHC_REASON_CD','LODGING_TYPE_CD','SGG_CD'], axis=1)

df = visit_tbl.copy()
df['VISIT_START_YMD'] = pd.to_datetime(df['VISIT_START_YMD'])
df['VISIT_END_YMD'] = pd.to_datetime(df['VISIT_END_YMD'])

# VIS = {집:21, 친구/친지집:22, 사무실:23}
vis_code = [21, 22, 23] 
temp = df[~df['VISIT_AREA_TYPE_CD'].apply(lambda x: x in vis_code)]

# 1번 만족점수평균값 / 재방문점수평균값 / 추천점수평균값
temp1 = temp.groupby('TRAVEL_ID').agg(DGSTFN_AVG=('DGSTFN', 'mean'),REVISIT_AVG=('REVISIT_INTENTION', 'mean'),RCMDTN_AVG=('RCMDTN_INTENTION', 'mean')).reset_index()

# 2번 총여행일수
temp2 = df.groupby('TRAVEL_ID').apply(lambda x: (x['VISIT_END_YMD'].max() - x['VISIT_START_YMD'].min()).days + 1).reset_index(name='TRIP_DAYS')

# 3번 여행이동횟수
temp3 = temp.groupby('TRAVEL_ID')['VISIT_AREA_NM'].count().reset_index(name='MOVE_CNT')

# 4번 재방문비율
temp4 = temp.groupby('TRAVEL_ID')['REVISIT_YN'].apply(lambda x: (x.str.upper() == 'Y').sum() / len(x)).reset_index(name='VISIT_RATE')

# 1, 2, 3, 4번 결과를 travel_id 기준으로 병합
clean_visit_tbl = temp1.reset_index() \
    .merge(temp2, on='TRAVEL_ID', how='left') \
    .merge(temp3, on='TRAVEL_ID', how='left') \
    .merge(temp4, on='TRAVEL_ID', how='left')

---

## DESC

![tn_visit_area_info_desc](img/TN_VISIT_AREA_INFO_DESC.png)

### preprocessing.py 적용사항
- `preprocess_visit_area_info()`가 `load_dataset('방문지정보')`를 통해 데이터를 읽고 위치·POI 관련 열을 기본 삭제 목록으로 묶었습니다. 필요하면 `drop_columns` 파라미터로 확장할 수 있습니다.
- 방문 시작/종료일을 datetime으로 변환하고 `exclude_codes=(21, 22, 23)`을 기본값으로 적용해 집·친지집·사무실 유형을 제외합니다.
- 여행 단위 요약 지표(`DGSTFN_AVG`, `REVISIT_AVG`, `RCMDTN_AVG`, `TRIP_DAYS`, `MOVE_CNT`, `VISIT_RATE`)를 생성하며, `return_base_table` 옵션으로 전처리된 원본과 요약을 동시에 받을 수 있게 했습니다.